*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* header */
header{
  text-align: center;
  background-color: blueviolet;
  min-height: 5em;
  color: white;
}
header p{
  font-size: xx-large;
  padding-top: .6em
}




/* history today */
#history-today{
  text-align: center;
  font-size: xx-large;
  padding-top: 1.5em;
}
#underline{
  border-bottom: 1px solid purple;
  margin: 1em auto 3em auto;
  width: 60%;
}
#load{
  text-align: center;
  padding-bottom: 2em;
  font-size: large;
  display: none;
}
#thedate{
  text-align: center;
  font-size: x-large;
  margin-bottom: 2em;
}

ul{
  margin: 1em;
}
ul li{
  list-style: none;
  padding: .5em;
  color: black;
}
@media (min-width: 720px) {
  ul{
    column-count: 2;
  }
}
/* your day */

#yourday{
  text-align: center;
}
button, input{
  background-color: rgb(184, 154, 226);
  padding: .5em;
  border: 1px solid rgb(91, 54, 143);
  color: black;
}

button:active{
  background-color: blueviolet;
}
button:hover{
  background-color: thistle;
}
input:hover{
  background-color: thistle;
}
.buttons{
  display: inline;
}